<header>
    <nav class="sticky">
        <div class="row">
            <img src="/images/header/sapro-logo.jpg" alt="Omnifood logo" class="logo">
            <img src="/images/header/sapro-logo.jpg" alt="Omnifood logo" class="logo-black">
            <div class="main-nav js--main-nav">
              <div class="faded-area  mbl-navbar-toggler"></div>
                <div class="main-area dropdown toggler">
                  <ul>
                      <li><a href="/">Home</a></li>    
                      <li class="dropdown js--services-dropdown ">
                        <a class="js--mega-dropdown" href="#kunal">services </a>
                        <div class="dropdown-content js--dropdown-content-services">
                          <div class="row">
                            <div class="column">
                              <a href="#">3d printing(FDM)</a>
                              <a href="#">3d printing(sls)</a>
                              <a href="#">plasma cutting machine(upto 12mm)</a>
                            </div>
                            <div class="column">
                              <a href="#">laser fiber engravity &amp; cutting</a>
                              <a href="#">laser marking(metal)</a>
                              <a href="#">pcb manufacturing</a>
                            </div>
                            <div class="column">
                              <a href="#">pcb soldering</a>
                              <a href="#">pcb designing</a>
                              <a href="#">project building</a>
                             <a href="#">plastic moulding machine</a>
                            </div>
                          </div>
                        </div>
                      </li>
                        
                    <li class="dropdown js--products-dropdown">
                        <a class=" js--mega-dropdown" href="#kunal">Products</a>
               
                        <div class="dropdown-content dropdown-content-product js--dropdown-content-products">
    
                          <div class="row">
                            <div class="column">
                              <a href="#">product-1</a>
                              <a href="#">product-2</a>
                              <a href="#">product-3</a>
                            </div>
                            <div class="column">
                              <a href="#">product-4</a>
                              <a href="#">product-5</a>
                              <a href="#">product-6</a>
                            </div>
                            <div class="column">
                              <a href="#">product-7</a>
                              <a href="#">product-8</a>
                              <a href="#">product-9</a>
                                <a href="#">product-10</a>
                            </div>
                          </div>
                        </div>
                    </li>
    
                    <li><a href="#plans">Online Store</a></li>
                    <li><a href="/#about-us">About us</a></li>
                    <li><a href="#plans">Contact us</a></li>
                    <li><a href="#plans">FAQ</a></li>
                    <li><a href="#plans">profile</a></li>
                    <% if (locals.user){ %>
                      <li><a href="/users/sign-out">logOut</a></li>
                    <% }else{ %>
                    <li><a href="/users/sign-in">login</a></li>
                    <% } %>
                    <li><a href="#plans"> <i class="ion-ios-cart-outline cart-icon"></i>  cart</a></li> 
                </ul> 
              </div>
                  
            </div>
    
            <a class="mobile-nav-icon mbl-navbar-toggler js--nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>
</header>
