<section class="section-start-recogniser section-features js--section-features" id="features">
    <div class="row">
        <h2>lorem iyrcum &mdash; huy bjy hum</h2>
        <p class="long-copy">
            Lorem ipsum dolor sit am
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
    </div>
    
    <div class="row js--wp-1">
        <div class="col span-1-of-4 box">
            <i class="ion-ios-infinite-outline icon-big"></i>
            <h3>Available 365 days/year</h3>
            <p>
                Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-ios-stopwatch-outline icon-big"></i>
            <h3>Ready in 2 days</h3>
            <p>
                You're only 2 days away from your nicely working and super intresting product delivered right to your home. We work with the best technician in our company to ensure that you're 100% happy.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-ios-checkmark-outline  icon-big"></i>
            <h3>100% best quality</h3>
            <p>
                All our products are tested, best working and highly efficient.made with super quality materials. Best for any of your project, and also for environment, our product will we best for your project!
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-ios-cart-outline icon-big"></i>
            <h3>Order &nbsp; anything</h3>
            <p>
                We don't limit your creativity, which means you can order whatever you feel like whatever you want. You can also choose from our product's list and pmake order.It's up to you what you want we will make it happen!
            </p>
        </div>
    </div>   
</section>

<section class="section-plans js--section-plans" id="plans">
    <div class="row see-all">
        <div></div>
            <h2>RECOMMENDATIONS</h2>
            <a class="icon-more">
                See all
                <i class="ion-ios-plus-outline "></i>
            </a>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <div class="plan-box js--wp-4">
                <div class="product-name-rs">
                    <h3>PRODUCT-1</h3>
                    <p class="plan-price">Rs 399</p>
                </div>

                <div class="product-transition" ><img class="meal-photo" src="/images/home/printed-circuit-board-1911693__340.webp" alt="printed circuit board"></div>
                <div>
                    <a href="#" class="btn btn-ghost">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="plan-box product-transition">
                <div class="product-name-rs">
                    <h3>Product-2</h3>
                    <p class="plan-price">Rs 149</p>
                </div>
                                        
                <div><img class="meal-photo" src="/images/home/printed-circuit-board-1911693__340.webp" alt="printed circuit board"></div>
                <div>
                    <a href="#" class="btn btn-ghost">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div class="product-name-rs">
                    <h3>product-3</h3>
                    <p class="plan-price">Rs 119</p>
                </div>
  
                
                <div><img class="meal-photo product-transition" src="/images/home/printed-circuit-board-1911693__340.webp" alt="printed circuit board"></div>
                <div>
                    <a href="#" class="btn btn-ghost">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

 <section class="section-plans-white section-plans js--section-plans" id="plans">
    <div class="row see-all">
        <div></div>
        <h2>New Products
        </h2>
         <a class="icon-more">
                See all
                <i class="ion-ios-plus-outline "></i>
        </a>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <div class="plan-box js--wp-4">
                <div class="product-name-rs">
                    <h3>PRODUCT-1</h3>
                    <p class="plan-price">Rs 399</p>
                </div>

                <div ><img class="meal-photo product-transition" src="/images/home/printed-circuit-board-1911693__340.webp" alt="printed circuit board"></div>
                <div>
                    <a href="#" class="btn btn-ghost">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div class="product-name-rs">
                    <h3>Product-2</h3>
                    <p class="plan-price">Rs 149</p>
                </div>
                                        
                <div><img class="meal-photo product-transition" src="/images/home/printed-circuit-board-1911693__340.webp" alt="printed circuit board"></div>
                <div>
                    <a href="#" class="btn btn-ghost">Buy Now</a>
                </div>
            </div>
        </div>
    
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div class="product-name-rs">
                    <h3>product-3</h3>
                    <p class="plan-price">Rs 119</p>
                </div>
  
                
                <div><img class="meal-photo product-transition" src="/images/home/printed-circuit-board-1911693__340.webp" alt="printed circuit board"></div>
                <div>
                    <a href="#" class="btn btn-ghost">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-meals">
    <ul class="meals-showcase clearfix">
        <li>
            <figure class="meal-photo">
                <img src="/images/home/pic1.png" alt="Korean bibimbap with egg and vegetables">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="/images/home/pic2.png" alt="Simple italian pizza with cherry tomatoes">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="/images/home/pic3.png" alt="Chicken breast steak with vegetables">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="/images/home/pic1.png" alt="Autumn pumpkin soup">
            </figure>
        </li>
    </ul>
    <ul class="meals-showcase clearfix">
        <li>
            <figure class="meal-photo">
                <img src="/images/home/pic2.png" alt="Paleo beef steak with vegetables">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="/images/home/pic2.png" alt="Healthy baguette with egg and vegetables">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="/images/home/pic3.png" alt="Burger with cheddar and bacon">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="/images/home/pic1.png" alt="Granola with cherries and strawberries">
            </figure>
        </li>
    </ul>
</section>



<section class="section-cities" id="cities">
    <div class="row">
        <h2>We're currently in 120+ cities</h2>
    </div>
    <div class="row js--wp-3">
        <div class="col span-1-of-4 box">
            <img src="/images/home/delhi.png" alt="DELHI">
            <h3>Delhi</h3>
            <div class="city-feature">
                <i class="ion-ios-person icon-small"></i>
                1600+ happy buyers
            </div>
            <div class="city-feature">
                <i class="ion-ios-star icon-small"></i>
                60+ top technicans
            </div>

        </div>
        <div class="col span-1-of-4 box">
            <img src="/images/home/mumbai.jpg" alt="MUMBAI">
            <h3>Mumbai</h3>
            <div class="city-feature">
                <i class="ion-ios-person icon-small"></i>
                3700+ happy buyers
            </div>
            <div class="city-feature">
                <i class="ion-ios-star icon-small"></i>
                160+ top technicans
            </div>

        </div>
        <div class="col span-1-of-4 box">
            <img src="/images/home/hydrabad.jpg" alt="HYDRABAD">
            <h3>hydrabad</h3>
            <div class="city-feature">
                <i class="ion-ios-person icon-small"></i>
                2300+ happy buyers
            </div>
            <div class="city-feature">
                <i class="ion-ios-star icon-small"></i>
                110+ top technicans
            </div>

        </div>
        <div class="col span-1-of-4 box">
            <img src="/images/home/chennai.png" alt="CHENNAI">
            <h3>chennai</h3>
            <div class="city-feature">
                <i class="ion-ios-person icon-small"></i>
                1200+ happy buyers
            </div>
            <div class="city-feature">
                <i class="ion-ios-star icon-small"></i>
                50+ top technicans
            </div>

        </div>
    </div>
    
</section>

<section class="section-testimonials">
    <div class="row">
        <h2>Our customers can't live without us</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <blockquote>
                
                Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                <cite><img src="/images/home/customer-1.jpg">Alberto Duncan</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
               
                Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                <cite><img src="/images/home/customer-2.jpg">Joana Silva</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>

                Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            <cite><img src="/images/home/customer-3.jpg">Milton Chapman</cite>
            </blockquote>
        </div>
    </div>
</section>

<section id="about-us" class="section-about-us">
    <div class="container">
        <row>
            <h2>About us</h2>
        </row>
        <row class="about-us-data">
            <p>Sapro Electronics and Electricals (India) Pvt. Ltd. was started by a group of engineers to source technology in most practical way to students and industry.</p> 
            <p>Sapro is a Manufacturing, technology services and consulting company having highly experienced team of experts which works on latest technology of manufacturing of automation products & root component level repair of industrial machine tool & automation products with our sophisticated instruments & quality testing units & simulators. </p>
            <p>We provide solutions to our customers according to the application requirement, offering the best prices and we have one of the best after sales support team.</p>
            <p> Back in 2010, we started training and workshops with an aim to promote a culture of “learning by doing” among youth. Since then, we have delivered 200+ workshops attended by 10000+ participants. We are proud to not just being a technology source but also feeding the whole engineering industry by nurturing the young engineers.</p>
        </row>
    </div>
</section>