<section class="section-start-recogniser section-login container-fluid">
        <form action="/users/create-session" method="POST" class="row" id="formConatainer">
            <div id="loginText"><h1>Login</h1></div> 
            <div class="form-element">
                <label for="email"><h3>Email</h3></label>
                <input class="form-input" type="text" name="email" id="email"  placeholder = "eg. yourname@gmail.com" required>
            </div>
            <div class="form-element">
                <label for="password"><h3>Password</h3></label>
                <input class="form-input" type="password" name="password" id="password" placeholder = "eg. aK5@bhkd76$%" required>
            </div>
            <div style="text-align: right !important;" class="form-element">
                <a style="font-size: 18px; border-bottom: 0 transparent !important;">Forgot password?</a>
                <input type="submit" id="submit" class="submitButton" value="SIGN IN">
            </div>
            <div style="text-align: center;" class="social-login">
                <P>LOGIN USING</P>
                 <ul class="social social-circle">
                    <li> <a href="#" class="icoFacebook"><i class="fa fa-facebook"></i></a></li>
                    <li> <a href="#" class="icoTwitter"> <i class="fa fa-twitter"></i> </a> </li>
                    <li> <a href="#" class="icoGoogle"> <i class="fa fa-google-plus"></i> </a> </li>
                    <li> <a href="#" class="icoRss"> <i class="fa fa-youtube"></i> </a> </li>
                </ul>
            </div>
            <div  style="text-align: center;">
                <hr class="sign">
                <a href="/users/sign-up">Sign up?</a>
            </diV>
            <div id="errorMessage"></div>
        </form>
    </div>
</section>
        
